@import url(reset.css);
@import url(header.css);


.body {
  background-color: var(--white);
  font-family: 'Didact Gothic';
  overflow-x: hidden;
  max-width: 100%;
  max-height: 100%;
}

.page-characters {
  font-weight: bold;
  text-decoration: underline;
}

.mainPersonagens {
  display: flex;
  margin: auto;
  background-color: var(--white);
  justify-content: center;
  justify-items: center;
  min-height: 70vh;
  flex-wrap: wrap;
}

.filterCharacters {
  color: var(--black);
  background-color: var(--main);
  margin: 1vmax;
  border-radius: 5px;
  border: 0.1max solid var(--marrom);
  height: 2vmax;
  font-size: 1vmax;
  text-align: center;
  box-shadow: inset 0 0 0.3em var(--abacate);
}

.inputCharacters {
  display: inline-flex;
}

.inputCharacters::placeholder {
  color: var(--black);
  text-align: center;
}

.cardsCharacters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  width: 250px;
  height: 410px;
  box-shadow: var(--main) 0 0 1em;
  background-color: var(--main);
  border: 0.1vmax solid var(--abacate);
  margin: 2% 5% 5% 2%;
  perspective: 1000px;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--black);
}

.characterPoster {
  margin-top: 6%;
  width: 200px;
  height: 175px;
  border-radius: 2%;
  border: var(--abacate) solid 1px;
}

.nomePersonagem {
  margin: 2% 0% 5% 0%;
  font-size: 1.1vmax;
  text-align: center;
}

.caracPersona {
  padding: 0% 2%;
}

.top-button {
  position: fixed;
  width: 170px;
  height: 150px;
  bottom: 0px;
  right: 0px;
  opacity: 1.0;
}

@media screen and (max-width: 640px) {

  .carac {
    margin: 0% 17% 0% 0%;

  }

  .nomePersonagem {
    font-size: 1.5vmax;
  }

}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: darkgray;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main);
  border-radius: 20px;
  border: darkgray solid 1px;
}

hr {
  width: 100vw;
  height: 2vh;
  background-color: transparent;
}

footer {
  display: flex;
  background-color: #003563;
  text-align: center;
  font-size: 1.2vmax;
  justify-content: center;
}
